<form method="post" action="/changePassword">
	<input type="text" name="token" plaeholder="Password Token">
	<input type="password" name="password" placeholder="New password...">
	<input type="submit" value="Change Password">
</form>