<br><br>
<img src="/thumbs.png" alt="">
<h1>CONFIRMATION</h1>
<p class="tall">Thank you for responding to help an at-risk youth!</p> 
<p>Here is the relevant information again: {{info}}</p><br>
<h3>Next Steps:</h3>
<p><b>You can get in contact with this youth by either calling or emailing.</b> <br>  <em>If you cannot call right away, please send them quick email with your contact information.</em></p>
<p class="supertall">
	<b> - Phone: {{phone}}</b><br>
	<b> - Email:</b> <a href="mailto:{{email}}">{{email}}</a>
</p>

