<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://app.userapp.io/js/userapp.client.js"></script>
</head>
<body class="container">
	<h3>Information</h3>
	<p>Stuffity stuff stuff stuff. I'm a dude, between 15-18, and need a place to hang for the night.</p>
	<form action="respondToRequest" method="post">
		<input type="submit" value="YES, I CAN HELP!" color="green">
		<button onclick="window.close();" color="red">I can't help.</button>
	</form>

	User Phone: {{phone}}
</body>