<h1>CONFIRMATION</h1>
<br>
<p class="tall">Thank you for responding to help an at-risk youth. Here is the relevant information again:</p>
<p class="supertall">{{info}}</p>

<h3>Next Steps:</h3>
You can get in contact with this youth by either calling or emailing.<br>
<p class="supertall">
	Phone: {{phone}}<br>
	Email: <a href="mailto:{{email}}">{{email}}</a>
</p>
<em>If you cannot call right away, please send them a quick email with your contact information.</em>