<h1>CONFIRMATION</h1>
<p>Thank you for responding to help an at-risk youth. Here is the relevant information again:
<p>{{info}}</p>
<br>
<p>You can get in contact with this youth by either calling or emailing:</p>

<h3>Next Steps:</h3>
If you cannot call right away, please send them quick email with your contact information.
<br><br>
Phone: {{phone}} <br>
Email: <a href="mailto:{{email}}">{{email}}</a>